extends layout 

block content 
  h1 #{ title } #{ category.name }
  p #[strong Category Description:] #{ category.description }

  if category_items.length 

    p #[strong Delete the following items before attempting to delete this category.]

    hr
    div
      h4 Items in Category: 

      div 
        each item in category_items
          hr
          div
            p #[strong Item Name: ]
              a( href=item.url ) #{ item.name }
              p #[strong Item Description: ] #{ item.description }
              p #[strong Item Price: ] #{ item.price }

  else 
    p Do you really want to delete this Category?

    form( method='POST' action='' )
      .form-group 
        input#categoryid.form-control(
          type='hidden'
          name='categoryid'
          required='true'
          value=category._id
        )

      button.delete-btn( type='submit' ) Delete