extends layout

block content
  h1= title.toUpperCase()
  p Welcome to #{title}

  p #[strong Unique Items:] #{ data.item_quantity }
  p #[strong Item Categories:] #{ data.category_quantity }
  p #[strong Total Items:] #{ data.itemCount_quantity }
